APP_DEBUG=false[APP]DEFAULT_TIMEZONE=Asia/ShanghaiVERSION=1.0.1[DATABASE]TYPE=mysqlHOSTNAME=127.0.0.1DATABASE=md_intelUSERNAME=PASSWORD=HOSTPORT=3306CHARSET=utf8mb4COLLATION=utf8mb4_unicode_ciDEBUG=true[LANG]default_lang=zh-cn[INDEX]CACHE_TTL=300