<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> {$Think.config.app.app_name} </title>
    <link rel="stylesheet" href="/layui/css/layui.css?{$v}">
    <link rel="stylesheet" href="/dist/css/layout.min.css?{$v}">
    <link rel="stylesheet" href="/dist/css/all.min.css?{$v}">
    <link rel="stylesheet" href="/dist/css/sweetalert2.min.css?{$v}"/>
    <link rel="stylesheet" href="/dist/css/jquery.json-viewer.css?{$v}">
    <!-- 优先于common.js加载，否则tipMsg方法中Swal未定义 -->
    <script src="/dist/js/sweetalert2.all.min.js?{$v}" type="text/javascript" charset="utf-8"></script>
</head>
<script src="/layui/layui.js?{$v}" type="text/javascript" charset="utf-8"></script>
<script src="/dist/js/jquery.min.js?{$v}" type="text/javascript" charset="utf-8"></script>
<script src="/dist/js/common.js?{$v}" type="text/javascript" charset="utf-8"></script>
<script src="/dist/js/xm-select.js?v={$v}" type="text/javascript" charset="utf-8"></script>
<script src="/dist/js/jquery.json-viewer.js?{$v}" type="text/javascript" charset="utf-8"></script>
<script src="/dist/js/viewer.min.js?v={$v}" type="text/javascript" charset="utf-8"></script>